html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
}

#app {
    flex: 1 0 auto;
    margin: 20px;
}

.frame-conditions {
    padding: 1em 2em;
    font-size: 13px;
    background: #3e3e3e;
    color: #ffffff;
    line-height: 1.4;
}

.frame-conditions a {
    color: #00c2b8;
}

.frame-conditions a:hover {
    color: #b2eae6;
}

.frame-conditions a[href^=http]:after {
    content: '↗';
}

.frame-conditions code {
    background: #222222;
    padding: 2px 4px;
    border-radius: 3px;
}

tr, td {
    padding: 10px;
}

table, tr, td {
    border: 1px solid green;
    margin-top: 30px;
}

.search-bar {
    background-color: lightgray;
    padding: 20px
}

.result-media {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80%;
    font-size: 18px;
}

.result-media__wrapper {
    background-color: white;
    border: 1px solid green;
    margin-bottom: 10px
}

.result-media__row {
    position: relative;
    display: flex;
    flex-direction: row;
    line-height: 2;
    padding: 10px;
}

.result-media__key {
    min-width: 130px;
    font-weight: bold;
}

.search-form {
    display: flex;
    margin-bottom: 20px;
    width: 450px;
}

.search-label {
    width: 200px;
    margin-right: 10px;
}

.search-button {
    margin-left: auto;
    margin-right: 0;
}